.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ee4d2d;
    color: white;
    height: 60px;
  }
  
  .navbar-logo1 img {
    height: 100px;

  }
  
  .navbar-search1 input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .navbar-search1 button {
    padding: 8px 20px;
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .navbar-links1 a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .navbar-links1 a:hover {
    text-decoration: underline;
  }
  